@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');


body {
    margin: 0;
    padding: 0;
    
}

.layout {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.board {
    height: 600px;
    width: 612;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6px;
}

.gameReadout {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 6px;
    background-color: #2999a8;
    color: white;
    border-radius: 20px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.cell {
    background-color: rgb(181, 253, 255);
    color: #2999a8;
    height: 200px;
    width: 200px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.leftborder {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.topborder {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.rightborder {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.botborder {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

svg {

    height: 150px;
    width: 150px;
}

.victoryLine {
    display: none;
    width:612px;
    height:612px;
    position: absolute;
}
.victoryLine>path {
    stroke-width: 40px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 0.25s linear forwards;
}

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

.svg {
    height: 100px;
    width: 100px;
    transition: stroke-width 0.1s ease-in;
    stroke-width: 0px;
}

.svg:hover {
    stroke-width: 5px;
}