@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');


body {
    margin: 0;
    padding: 0;
    
}

.layout {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;
}

.board {
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1px;
}

.gameReadout {
    font-family: 'Montserrat', sans-serif;
    font-size: 6rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 1rem;
}

.cell {
    background-color: lightblue;
    height: 200px;
    width: 200px;
    display: grid;
    align-items: center;
    justify-items: center;
}

svg {

    height: 150px;
    width: 150px;
}

.svg {
    height: 100px;
    width: 100px;
    transition: stroke-width 0.1s ease-in;
    stroke-width: 0px;
}

.svg:hover {
    stroke-width: 5px;
}